@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100;1,300&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
}

#box2, #box1 {
    opacity: 0;
    transition: all 0.7s;
}

